development:
  database:
    host: "localhost"
    port: 5432
    database: "metamw_development_prod_version"
    user: "admin"
    password: "secret"
  paths:
    letters_input: "data/letters"
    logs: "logs/development.indexer.log"
  protag:
    name: "Mendelssohn Bartholdy (bis 1816: Mendelssohn), Jacob Ludwig Felix (1809-1847)"
    key: "PSN0000001"

test:
  database:
    host: "localhost"
    port: 5432
    database: "letter_ai_test"
    user: "postgres"
    password: "password"
  paths:
    letters_input: "tests/fixtures"
    logs: "logs/test.indexer.log"
  protag:
    name: "Mendelssohn Bartholdy (bis 1816: Mendelssohn), Jacob Ludwig Felix (1809-1847)"
    key: "PSN0000001"
